/* General settings */

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
}

header {
    background: rgb(112, 0, 0);
    height: 6.25rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

h1 {
    text-align: center;
    color: white;
    line-height: 6.25rem;
    margin: 0;
    font-size: xxx-large;
    border-style: none none solid none;
    border-color: black;
    background-image: linear-gradient(rgb(116, 0, 0), rgb(65, 0, 0));
}

h2 {
    color: white;
    text-align: center;
}

article  {
    padding: .625rem;
    margin: .625rem;
    background: rgba(75, 0, 0);
    flex: 2 1 18.75rem;
    border-radius: .625rem;
    color: white;
    text-align: center;
    border-color: black;
    border-style: solid;
    background-image: linear-gradient(rgb(65, 0, 0), rgb(116, 0, 0));
}

nav {
    width: 100%;
    top: -12.5rem;
    overflow-y: hidden;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    transition: 0.5s;
    z-index: 1;
}

nav a {
    padding: .5rem .5rem .5rem .5rem;
    color: white;
    transition: 1s;
    font-size: xxx-large;
    font-weight: bold;
    background-color: rgb(80, 0, 0);
    flex: 2 1 10cm;
    text-align: center;
    text-decoration: none;
    border-style: none none solid none;
    border-color: black;
}

nav a:hover {
    background-color: black;
}

form {
    display: inline-block;
}

input, textarea {
    color: white;
    background-color: black;
}

input, label, textarea{
    display: block;
    width: 12.5rem;
}

button {
    width: 12.5rem;
    height: 3.125rem;
    color: white;
    background-color: black;
    transition: 0.2s;
}

.icon {
    width: 1.5cm;
    height: 1.5cm;
    position: fixed;
    top: 1.25rem;
    cursor: pointer;
}

.gallery {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 6.875rem;
}

.narrowimage {
    width: 100%;
}

.wideimage {
    padding: 4% 0;
    width: 100%;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.box8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

article:has(> .hidey) {
    position: relative;
}

.hidey {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 0%;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(17, 17, 17));
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: .625rem;
    transition: 0.5s;
}

.hidey p {
    margin-top: 0.5rem;
}

#menu {
    right: 1.875rem;
}

#home {
    left: 1.875rem;
}

#splash {
    padding-top: 6.25rem;
    height: 49rem;
    width: 100%;
}

#splash img {
    position: absolute;
    bottom: -4rem;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    max-width: fit-content;
    height: auto;
}

#info {
    margin-top: 0rem;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

#about {
    display: inline;
}

#aboutimage {
    position: absolute;
    width: 8cm;
    height: auto;
    top: 6.25rem;
    left: calc(50% - 9.375rem);
}

#aboutcontent {
    position: absolute;
    width: 25rem;
    top: 30rem;
    left: calc(50% - 12.5rem);
    font-size: larger;
}

#contact {
    position: absolute;
    width: 25rem;
    top: 6.25rem;
    left: calc(50% - 13.75rem);
}

#trollMsg {
    position: relative;
    top: 3.125rem;
}

#troll {
    position: relative;
}

/* Desktop specific settings */

@media only screen and (min-width: 70rem){
    h1 {
        font-size: xx-large;
    }

    nav a {
        font-size: larger;
    }
}